*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;

}
.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
    position: sticky;
    background-color: #333333;
    font-family: 'Times New Roman';
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color:white;
    font-size: 35px;
    font-family: Luminari;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    color: #fff;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #837F85;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ffffff;
}

.search{
    width: auto;
    float: right;
    /* margin-left: 270px; */
    padding-right:50px;
    display: flex;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 35px;
    /* background: transparent; */
    background-color: #fff;
    /* border: ; */
    margin-top: 13px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    float: left;
    padding: 10px;
    border-radius: 5px;
    /* border-top-left-radius: 5px; */
}

.btn{
    width: 100px;
    height: 40px;
    /* background: transparent; */
    background-color: #333333;
    /* border: 2px solid #ff7200; */
    font-size: 16px;
    color: #837F85;
    font-family: Arial;
    font-weight: bold;
    border: 0px;
    margin-top: 13px;
    font-size: 15px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #fff;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}
.second{
    /* text-align: center; */
    justify-content: center;
    width: auto;
    height: 100px;
    /* float: left; */
    align-items: center;
    display: flex;
    font-size: large;
    background-color: #444444;
    color: #837F85;
}
.btn1{
    width: 100px;
    height: 40px;
    /* background: transparent; */
    background-color: #837F85;
    /* border: 2px solid #ff7200; */
    color: #fff;
    border: 0px;
    /* display: inline; */
    font-size: 15px;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}

.btn2{
    width: 100px;
    height: 40px;
    background-color: #EE6B9D;
    color:white ;
    border: 0px;
    /* float: ; */
    /* display: inline; */
    padding:2px;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.third{
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgb(255, 255, 255);
}
.grid{
    display: grid;
    justify-content: space-evenly;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 90px;

}
.grid1{
    /* background-color: antiquewhite; */
    width: 200px;
    height: 200px;
    border: 0px ;
    /* padding: 60px; */

}
.grid1 > img {
    width: 100%;
    height: 70%;
    /* object-fit: cover; Ensures the image covers the entire cell */
    display: block;
}
.social{
    display: block;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-items: center;
    color:#A0A0A0;
}
.social > div{
    display: inline;
    padding-right: 4px;
    align-items: center;
    font-size: medium;
}
.username{
    padding-top: 6px;
    font-size: large;
    color: #3858ad;
}
svg{
    padding-right: 2px;
}